// global
$background: #fff;
$color: #6b6a6b;
$color-light: #f6f5f5;
$color-hover: #3a8cff;
$color-disabled: #b3b1b1;

// header
$background-header: #eef0f6;

// border
$border-color: #d6d8dd;
$border-color-light: #ededed;
$border-width: 1px;
$border-active-width: 2px;