// global
$background: #fff;
$color: #797779;
$color-light: #f6f5f5;
$color-hover: #d7e8f8;
$color-disabled: #f2f2f2;

// header
$background-header: #eef0f6;

// border
$border-color: #f4f5f8;
$border-color-light: #fdfdfd;
$border-width: 1px;
$border-active-width: 2px;