@import 'var';

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    &:active,
    &:focus {
        outline: none;
    }

    &:hover {
        background: rgba(216, 216, 216, 0.6);
    }

    span {
        font-size: 1rem;
        position: relative;
        top: 1;
    }
}

.btn-default {
    border: transparent;
    background: transparent;
}

.btn-sm {
    padding: 3px;
}

button[disabled] {
    color: $color-disabled;
    cursor: not-allowed;

    &:hover {
        background: transparent;
    }
}

.btn-link,
.btn-link:hover {
    background: transparent;
    border-color: transparent;
    outline-color: transparent;
}
$types: (danger #d43f3a, warning #eea236,success #4cae4c,link transparent);

@each $key,$value in $types {
    .btn-#{$key} {
        border: 1px solid #{$value};
        color: $value
    }
}