@import 'var';

.footer {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 30px;
    border-top: 1px solid $border-color;
    font-size: 12px;
    line-height: 30px;
    padding-left: 15px;
    color: $color;

    .total {

        span {
            margin-right: 10px;
        }
    }
}