@import 'var';

.header {
    display: flex;
    color: $color;
    height: 75px;
    background-color: $background-header;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .logo {
        width: 165px;
        font-size: 16px;
        font-weight: bold;

        span {
            display: inline-block;
            width: 30px;
            height: 30px;
        }
    }

    .nav {
        > ul {
           > li {
                > a {
                    color: $color;
                    display: block;
                    padding: 12px; 

                    &:hover {
                        color: $color-hover;
                        border-bottom: $border-active-width solid $color-hover;
                    }
                }
            }
        }
    }

    .profile {
        
    }
}