.m-icons {
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;

    .m-icon {
        padding: 3px;

        a {
            text-align: center;
            display: block;
            width: 130px;
            height: 120px;
            text-decoration: none;
            font-size: 12px;
            color: #969292;
            // border: 1px solid #ddd;
            cursor: default;
            overflow: hidden;

            &:hover {
                background: rgba(234, 249, 252, 0.466);
                box-shadow: 0 0 1px 1px #d0e9fd;
                border-radius: 2px;
            }

            .ico {
                width: 80px;
                height: 80px;
                margin: 18px auto 0;
                background-size: cover;
            }

            .ico-zip {
                background-image: url('./images/ZIP_54_667d9c9.png')
            }

            .ico-word {
                background-image: url('./images/Word_54_6167687.png')
            }

            .ico-web {
                background-image: url('./images/Web_54_195198e.png')
            }

            .ico-video {
                background-image: url('./images/Video_54_7880c8d.png')
            }

            .ico-video {
                background-image: url('./images/Video_54_7880c8d.png')
            }

            .ico-text {
                background-image: url('./images/Text_54_6d41969.png')
            }

            .ico-ps {
                background-image: url('./images/PS_54_93523dc.png')
            }

            .ico-pdf {
                background-image: url('./images/PDF_54_ae4e37a.png')
            }

            .ico-default {
                background-image: url('./images/Misc_54_f86ddc2.png')
            }

            .ico-links {
                background-image: url('./images/Links_54_e5e6311.png')
            }

            .ico-ps {
                background-image: url('./images/PS_54_93523dc.png')
            }

            .ico-folder {
                background-image: url('./images/Folder_54_fe544cc.png')
            }

            .ico-excel {
                background-image: url('./images/Excel_54_08289af.png')
            }

            .ico-card {
                background-image: url('./images/card_54_b068d33.png')
            }

            .ico-bt {
                background-image: url('./images/BT_54_6238b9c.png')
            }

            .name {
                padding: 5px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}