@import 'var';

* {
    box-sizing: border-box;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'consolas', 'Microsoft yahei'
}

body {
    background: $background;
    color: $color;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;

    .menu-bar {
        flex-shrink: 0;
        width: 120px;
        border-right: 1px solid $border-color;

        ul {
            list-style: none;
        }
    }

    .content {
        flex-grow: 1
    }

    .menu-bar,
    .content {
        height: calc(100vh - 220px);
    }
}

.checkbox.inline,
.radio.inline {
    display: inline-block;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    input[type=checkbox], 
    input[type=radio] {
        position: absolute;
        margin-top: 4px\9;
        margin-left: -20px;
    }
}

.text-right {
    text-align: right;
}