@import 'var';

* {
    box-sizing: border-box;
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'consolas', 'Microsoft yahei';
    font-size: 14px;
}

body {
    background: $background;
    color: $color;
}

ul {
    margin: 0;
    padding: 0;
}

button,
a {
    text-decoration-line: none;
    color: $color;
}

.bg-danger {
    background-color: #e45858;
    color: #fff;

    &:hover {
        background-color: #d65353;
    }
}

.toolbar {
    padding: 5px 10px;
    border-bottom: 1px solid $border-color-light;
    
    .btn {
        margin-left: 5px;
    }
}

.container {
    display: flex;

    .aside {
        width: 160px;
        border-right: $border-width solid $border-color;
        
        .menu-bar {
            flex-shrink: 0;
            width: 120px;
            border-right: 1px solid $border-color;
    
            ul {
                list-style: none;
            }
        }

        .aside-foot {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 60px;
            width: 100%;
            padding: 15px 10px;

            .process {
                height: 10px;
                width: 100%;
                background: #e6e6e6;

                .used {
                    width: 10%;
                    height: 10px;
                    background: #39d665;
                }
            }

            .desc {
                margin-top: 10px;
                > span {
                    float: left;
                }

                > a {
                    float: right;
                    color: $color-hover;
                }
            }
        }
    }

    .content {
        flex-grow: 1;
    }

    .aside,
    .content {
        position: relative;
        height: calc(100vh - 75px);
    }
}

.checkbox.inline,
.radio.inline {
    display: inline-block;
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    input[type=checkbox], 
    input[type=radio] {
        position: absolute;
        margin-top: 4px\9;
        margin-left: -20px;
    }
}

.text-right {
    text-align: right;
}