@import 'var';

* {
    box-sizing: border-box;
    :focus {
        outline: none;
    }
}
html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'consolas', 'Microsoft yahei';
    font-size: 14px;
}

body {
    background: $background;
    color: $color;
    overflow: hidden;
}


ul {
    margin: 0;
    padding: 0;
}

button,
a {
    text-decoration-line: none;
    color: $color;
}

.bg-danger {
    background-color: #e45858;
    color: #fff;

    &:hover {
        background-color: #d65353;
    }
}

.toolbar {
    padding: 5px 10px;
    border-bottom: 1px solid $border-color-light;
    
    .btn {
        margin-left: 5px;
    }
}

.ani-enter {
    animation: bounceIn 500ms;
}
.ani-leave {
    animation: bounceOutRight 500ms;
}

.container {
    display: flex;

    .aside {
        width: 160px;
        border-right: $border-width solid $border-color;
        flex-shrink: 0;
        
        .menu-bar {
            flex-shrink: 0;
            width: 120px;
            border-right: 1px solid $border-color;
    
            ul {
                list-style: none;
            }
        }

        .aside-foot {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 60px;
            width: 100%;
            padding: 15px 10px;

            .process {
                height: 10px;
                width: 100%;
                background: #e6e6e6;

                .used {
                    width: 10%;
                    height: 10px;
                    background: #39d665;
                }
            }

            .desc {
                margin-top: 10px;
                > span {
                    float: left;
                }

                > a {
                    float: right;
                    color: $color-hover;
                }
            }
        }
    }

    .content {
        flex-grow: 1;
        position: relative;

        

        .dragable::before {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items:  center;
            content: 'Drag and drop a file!';
            font-size: 24px;
            position: absolute;
            top:  82px;
            left: 0;
            width: 100%;
            height: calc(100vh - 189px);
            background: rgba(238, 240, 246, 0.733);;
            border: 2px dashed $border-color;
            text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;
        }
    }

    .aside,
    .content {
        position: relative;
        height: calc(100vh - 75px);
    }
}

.checkbox.inline,
.radio.inline {
    display: inline-block;
}
@keyframes bounceOutRight {
	20% {
		opacity: 1;
		-webkit-transform: translate3d(-20px, 0, 0);
		transform: translate3d(-20px, 0, 0);
	}
	to {
		opacity: 0;
		-webkit-transform: translate3d(2000px, 0, 0);
		transform: translate3d(2000px, 0, 0);
	}
}

@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.checkbox,
.radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;

    label {
        min-height: 20px;
        padding-left: 20px;
        margin-bottom: 0;
        font-weight: 400;
        cursor: pointer;
    }

    input[type=checkbox], 
    input[type=radio] {
        position: absolute;
        margin-top: 4px\9;
        margin-left: -20px;
    }
}

.text-right {
    text-align: right;
}