@import 'var';

.menu {
    padding: 10px 0;

    span {
        margin-right: 10px;
    }

    li > ul {
        a {
            padding-left: 20px;
        }
    }

    li  a {
        display: block;
        text-align: center;
        padding: 10px 4px;
        font-size: 12px;
        cursor: default;

        &:hover:not(.active) {
            color: $color-hover;
        }
    }

    li a.active {
        background: #e6edff;
        color: $color-hover;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 3px;
            background: $color-hover;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
}

.react-contextmenu {
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid $border-color;
    border-radius: .25rem;
    color: $color;
    margin: 2px 0 0;
    outline: none;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    text-align: left;
    transition: opacity 250ms ease !important;

    &.react-contextmenu--visible {
        opacity: 1;
        pointer-events: auto;
        z-index: 9999;
    }
}

.react-contextmenu-item {
    background: 0 0;
    border: 0;
    color: $color;
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    padding: 2px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: $color-hover;
    border-color: $border-color;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: $color-disabled;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}
