@import 'var';

.menu {
    padding: 10px 0;

    span {
        margin-right: 10px;
    }

    li > ul {
        a {
            padding-left: 20px;
        }
    }

    li  a {
        display: block;
        text-align: center;
        padding: 10px 4px;
        font-size: 12px;
        cursor: default;

        &:hover:not(.active) {
            color: $color-hover;
        }
    }

    li a.active {
        background: #e6edff;
        color: $color-hover;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 3px;
            background: $color-hover;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
        }
    }
}